{% extends 'admin/index.html.twig' %}

{% block title %}NutritionPlans index{% endblock %}

{% block body %}
<div class="col-sm-12 col-xl-8 mx-auto">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">NutritionPlans index</h6>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Meal_detail</th>
                <th>Calories</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nutrition_plan in nutrition_plans %}
            <tr>
                <td>{{ nutrition_plan.id }}</td>
                <td>{{ nutrition_plan.mealDetail }}</td>
                <td>{{ nutrition_plan.calories }}</td>
                <td>{{ nutrition_plan.startDate ? nutrition_plan.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ nutrition_plan.endDate ? nutrition_plan.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_nutrition_plans_show', {'id': nutrition_plan.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_admin_nutrition_plans_edit', {'id': nutrition_plan.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_admin_nutrition_plans_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
